// Default font
$fontFamilyBarlow: "Barlow", sans-serif;
$fontFamilyBarlowCond: "Barlow Condensed", sans-serif;
$fontFamilyBellefair: "Bellefair", serif;
//letter-space
$letterSpacing-1: 2.35px;
$letterSpacing-2: 2.7px;
$letterSpacing-3: 4.75px;
// font-size
$fontSize-1: 1.4rem;
$fontSize-2: 1.6rem;
$fontSize-3: 2.6rem;
$fontSize-4: 2.8rem;
$fontSize-5: 3.2rem;
$fontSize-6: 5.6rem;
$fontSize-7: 10rem;
$fontSize-8: 15rem;

///////////////////////////////////////////////////////////////////////////////////////
//variables for dekstop
// $maxWidth: 144rem;
$maxWidthContainerHome: 111rem;
$maxWidthNav: 138.5rem;
$widthNav: 83rem;
$heightNav: 9.6rem;
//////////////////////////////////////////////////////////////////////////////////////
// Colors
$colorPrimary: #0b0d17;
$colorSecondary: #d0d6f9;
$colorTertiary: #fff;
